*.jpg
*.png
*.jpeg
*.JPG
*.PNG
*.JPEG
*.bmodel
*.db
*.index
*.onnx
*.extra_file
*.pt
*.pth
*.zip
!./pics/
!./pics/*.jpg
!./pics/*.png
!./pics/*.jpeg
!.static/images/*.png
!.static/images/*.jpg
!.static/images/*.jpeg
build
dist
__pycache__
*.egg-info
*.egg
*.pyo
*.pyd
*.so
models/*
models